@import "compass/reset"

body
  font-family: 'Lato', sans-serif
  font-size: 14px
  color: #444 
  background-color: #222
  font-weight: 300
  
h1
  padding: 10px 15px 10px 10px
  font-size: 32px
  font-style: normal
  font-weight: 300  
  display: inline-block
  background-color: #900
  margin: 50px 0 1px 0
  border-left: 5px solid #600 
  color: #FFF
  
  .red
    font-weight: 100
  
  .blind
    color: #FFF
    font-weight: 100

p.intro
  padding: 10px 15px 10px 15px
  margin: 0 0 20px 0
  border-left: 5px solid #999 
  color: #FFF
  line-height: 16px
  font-weight: 100
  display: inline-block
  border-left: 5px solid #200 
  background-color: #600
  
  a
    color: #FFF
    text-decoration: none
    
p.intro:hover
  background-color: #C00
  border-left: 5px solid #900 
